# 모든 파일 무시
/*

# 특정 폴더 포함
!/Assets/
/Assets/*
!/Assets/_Young/
!/Assets/_Young9/
/Assets/_Young/*
/Assets/_Young9/*
!/Assets/_Young/Scripts/
!/Assets/_Young9/Scripts/

# 스크립트 파일만 포함
!/Assets/_Young/Scripts/**/*.cs
!/Assets/_Young9/Scripts/**/*.cs