/.vscode
/Assembly-CSharp.csproj
/AudioLink.csproj
/AudioLink.Editor.csproj
/BugGame.sln
/Cinemachine.csproj
/ClientSimStorage
/com.mmmaellon.smartobjectsync.csproj
/com.mmmaellon.smartobjectsync.editor.csproj
/com.unity.cinemachine.editor.csproj
/com.vrchat.core.vpm-resolver.Editor.csproj
/Library
/Logs
/Packages
/ProjectSettings
/Temp
/UdonSharp.Editor.csproj
/UdonSharp.Lib.csproj
/UdonSharp.Runtime.csproj
/UniTask.Addressables.csproj
/UniTask.csproj
/UniTask.DOTween.csproj
/UniTask.Editor.csproj
/UniTask.Linq.csproj
/UniTask.TextMeshPro.csproj
/Unity.AI.Navigation.csproj
/Unity.AI.Navigation.Editor.ConversionSystem.csproj
/Unity.AI.Navigation.Editor.csproj
/Unity.AI.Navigation.Updater.csproj
/Unity.Burst.CodeGen.csproj
/Unity.Burst.csproj
/Unity.Burst.Editor.csproj
/Unity.Collections.CodeGen.csproj
/Unity.Collections.csproj
/Unity.Collections.Editor.csproj
/Unity.InputSystem.csproj
/Unity.InputSystem.ForUI.csproj
/Unity.InputSystem.TestFramework.csproj
/Unity.Mathematics.csproj
/Unity.Mathematics.Editor.csproj
/Unity.Postprocessing.Editor.csproj
/Unity.Postprocessing.Runtime.csproj
/Unity.Rider.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.VisualStudio.Editor.csproj
/Unity.VSCode.Editor.csproj
/Unity.Windsurf.Editor.csproj
/Unity.XR.Management.csproj
/Unity.XR.Management.Editor.csproj
/Unity.XR.Oculus.csproj
/Unity.XR.Oculus.Editor.csproj
/UnityEditor.SpatialTracking.csproj
/UnityEditor.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEditor.XR.LegacyInputHelpers.csproj
/UnityEditorTests.csproj
/UnityEngine.SpatialTracking.csproj
/UnityEngine.TestRunner.csproj
/UnityEngine.UI.csproj
/UnityEngine.XR.LegacyInputHelpers.csproj
/UserSettings
/VRC.ClientSim.csproj
/VRC.ClientSim.Editor.csproj
/VRC.ExampleCentral.Editor.csproj
/VRC.SDK3.csproj
/VRC.SDK3.Editor.csproj
/VRC.SDKBase.csproj
/VRC.SDKBase.Editor.BuildPipeline.csproj
/VRC.SDKBase.Editor.csproj
/VRC.SDKBase.Editor.ShaderStripping.csproj
/VRC.Udon.csproj
/VRC.Udon.Editor.csproj
/VRC.Udon.Serialization.OdinSerializer.csproj
/vrchat.jordo.easyquestswitch.csproj
/vrchat.jordo.easyquestswitch.Editor.csproj
/VRWorldToolkit.Editor.csproj